.container {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00b386;
    margin-bottom: 20px;
}

.topic-details {
    width: 80%;
    margin: 40px auto;
}

.btn-register {
    padding: 6px 16px;
    border-radius: 20px;
    border: 1px solid #00b386;
    background: none;
    color: #00b386;
    cursor: pointer;
    margin: auto;
}

.btn-register:hover {
    background: #00b386;
    color: #fff;
}